# IMPORTING MODULES

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# LOADING DATA

In [28]:
data = pd.read_csv('bill_authentication.csv')

In [29]:
data.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

# CHECKING FOR NULLS VALUES

In [4]:
data.isnull().sum()

Variance    0
Skewness    0
Curtosis    0
Entropy     0
Class       0
dtype: int64

In [10]:
x_features = list(data.columns)

In [11]:
x_features.remove('Class')

In [12]:
x_features

['Variance', 'Skewness', 'Curtosis', 'Entropy']

In [13]:
encoded_data = pd.get_dummies(data[x_feature], drop_first = True)

In [14]:
encoded_data.head()

   Variance  Skewness  Curtosis  Entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [15]:
import statsmodels.api as sm

In [16]:
y = data['Class']
x = encoded_data

# SPLITING DATA

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size= 0.8, random_state = 42)

# IMPLEMENTING DECISION TREE CLASSIFIER

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
data_classifier = DecisionTreeClassifier(criterion='entropy', max_depth = 10)

In [22]:
data_classifier.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=10)

In [23]:
y_pred = data_classifier.predict(x_test)

In [24]:
y_pred_train = data_classifier.predict(x_train)

In [25]:
from sklearn import metrics

# ACCURACY OF 99%

In [27]:
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.97      1.00      0.99       148
           1       1.00      0.97      0.98       127

    accuracy                           0.99       275
   macro avg       0.99      0.98      0.99       275
weighted avg       0.99      0.99      0.99       275